{% extends 'base.html' %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
           integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
           crossorigin=""/>

    <style>
        #map {
            height: 100vh;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="col-md-3">
        <div>
            {% if is_emulating %}
                <button id="stopEmulation"
                        class="btn btn-sm btn-warning">
                    Stop Emulation
                </button>
            {% else %}
                <button id="startEmulation"
                        class="btn btn-sm btn-primary">
                    Start Emulation
                </button>
            {% endif %}

        <button id="removePoints"
                class="btn btn-sm btn-danger">
            Remove points
        </button>
        </div>
    </div>

    <div class="col-md-9">
        <div id="map"></div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
           integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
           crossorigin=""></script>


    <script>
        let map = null;
        let points = [];

        window.onload = function () {
            map = L.map('map').setView([48.498360, 34.604967], 6);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiYnViYXRlYW0iLCJhIjoiY2pyYzNsNTJzMTY4ODN6bDhlMzRpOHRlayJ9.rt-HxxiLNbEbAy1Vzg1foQ'
            }).addTo(map);


            map.addEventListener('click', function(e) {
                addPoint(e.latlng);
            });

            drawRouteLine({{ route.line }});
        };

        const addPoint = coordinate => {
            points.push(coordinate);
            L.marker(Object.values(coordinate)).addTo(map);
        };


        const drawRouteLine = coordinates =>
            L.polyline(coordinates, {color: 'red'}).addTo(map);


        $('#startEmulation').click(function (e) {
            e.preventDefault();
            console.log(points);

            $.ajax({
                url: '/start-emulation/{{ imei }}',
                type: 'PUT',
                dataType: 'json',
                data: JSON.stringify({
                    'points': [...points]
                }),
                headers: {
                    'ContentType': 'application/json'
                },
                success: function (data) {
                    alert('sd');
                }
            }).done(function() {
                alert( "success" );
            }).always(function(res) {
                if (res.status === 201) {
                    alert('Emulation has been started');
                    window.location.reload();
                }
            });

            console.log('emulation started');
        });

        $('#stopEmulation').click(e => {
            console.log('emulation stopped');

            $.ajax({
                url: '/stop-emulation/{{ imei }}',
                type: 'PUT'
            }).done(function () {
                window.location.reload();
            });
        });

        $('#removePoints').click(e => {
            e.preventDefault();
            window.location.reload();
        });

    </script>
{% endblock %}