{% extends 'base.html' %}


<div class="col-md-8 offset-2">
    {% block content %}
        {% for truck in trucks %}
            <div class="card border mt-2 mb-2 border-10">
                <div class="card-header p-0 bg-dark" role="tab">
                    <h5 class=" w-100 h-100 mb-0 d-flex align-items-center justify-content-around">
                        <a class="btn btn-block font-weight-bold text-light text-left"
                           href="/trucks/{{ truck.id }}">

                            <span class="badge badge-secondary ml-2 mr-1">
                                {{ loop.index + 1 }}
                            </span>
                            <span class="text-light">
                                {{ truck.plateNumber }}
                            </span>
                        </a>
                        <span class="col-md-1">
                    </span>
                    </h5>
                </div>
            </div>
        {% endfor %}
    {% endblock %}
</div>